{
    "extends": "eslint:recommended",
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "env": {
        "browser": true,
        "node": true
    },
    "parser": "babel-eslint",
    "rules": {
        "no-unused-vars": "off",
        "no-console": "off",
        "sort-imports": ["error", {
            "ignoreCase": true,
        }]
    },
    "plugins": [
        "babel",
        "react"
    ]
}
