{
    "extends": "eslint:recommended",
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "env": {
        "browser": true,
        "node": true,
        "jest": true
    },
    "parser": "babel-eslint",
    "rules": {
        "no-unused-vars": "off",
        "no-console": "off",
    },
    "plugins": [
        "babel",
        "react"
    ],
    "globals": {
      "Promise": true,
    }
}
